/* Navbar Styles */
.navbar {
    background-color: #1C1C1C; /* Slightly lighter shade for contrast */
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Slightly more pronounced shadow */
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin: 0 10px; /* Reduced margin for smaller screens */
  }
  
  .navbar a {
    color: #f7f7f7; /* Light text to contrast with the dark background */
    text-decoration: none;
    font-size: 1rem; /* Smaller font size for mobile */
    padding: 10px 12px; /* Adjusted padding for smaller touch targets */
    position: relative;
    transition: color 0.3s, transform 0.3s;
  }
  
  .navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #29b6f6; /* Light blue for hover effect */
    transition: all 0.3s;
  }
  
  .navbar a:hover, .navbar a:focus {
    color: #29b6f6; /* Light blue on hover/focus */
    transform: translateY(-3px);
  }
  
  .navbar a:hover::after, .navbar a:focus::after {
    width: 100%;
    left: 0;
  }
  
  /* Mobile Navbar Styles */
  @media (max-width: 768px) {
    .navbar {
      padding: 1rem; /* Reduced padding for smaller screens */
    }
  
    .navbar ul {
      flex-direction: column; /* Stack items vertically on mobile */
      align-items: center;
    }
  
    .navbar li {
      margin: 10px 0; /* Vertical margin between items */
      width: 100%;
      text-align: center; /* Center align text */
    }
  
    .navbar a {
      padding: 10px 0; /* Adjusted padding for vertical spacing */
      width: 100%;
    }
  }
  